<p>homepage works!</p>

<!-- CAROUSEL-IMAGES   -->
<div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-center  img1">
                <h1 id="carousel-healthcare">REFORMING HEALTHCARE </h1>
            </div>
        </div>
    </div>
</div>

<!-- HOW IT WORKS   -->
<div class="working">
    <div class="container-fluid ">

        <!-- CARDS   -->
        <div class="row text-center">
            <h2 class="mt-5" style="color: #267D80;"><b>HOW IT WORKS</b></h2>

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="card mt-5 mb-5 test">
                    <!-- <div class="img"> -->
                    <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                        class="card-img-top" alt="...">
                    <!-- </div> -->
                    <div class="card-body dgreen" style="width: 100%;">
                        <p class="card-text">REgular checkup</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12  ">
                <div class="card mt-5 mb-5">

                    <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                        class="card-img-top" alt="...">

                    <div class="card-body dgreen" style="width: 100%;">
                        <p class="card-text">REgular 2 checkup</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12  ">
                <div class="card mt-5 mb-5">

                    <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                        class="card-img-top" alt="...">

                    <div class="card-body dgreen" style="width: 100%;">
                        <p class="card-text">REgular checkup</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOOK FREE CONSULTATION   -->

        <!-- DETAILS   -->
        <div class="details white p-3">
            <div class="row m-5">
                <div class="col-lg-8 col-md-8 col-sm-6 ">
                    <h4><b>Book your free consultation with us , Right Now!</b></h4>
                    <button type="button" class="btn dgreen">Call: +91 7302410103</button>
                    <p>JEFOEJFPHFIJF I2HFO2FJP2F I23HF I23</p>
                </div>

                <!-- MAKE APPOINTMENT   -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="row text-center mt-4 ">
                        <button id="appointment-btn"> MAKE AN APPOINTMENT </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- patients across nations stats   -->
        <div class="row text-center dgreen mt-5 p-5">
            <h3>ASSISTING PATIENTS ACROSS NATIONS</h3>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card m-1 lgreen">
                    <div class="icon p-2">
                        <i class="fa fa-hotel fa-3x"></i>
                    </div>
                    <h3>150</h3>
                    <p>BEDS </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card m-1 lgreen">
                    <div class="icon p-2">
                        <i class="fa fa-heart fa-3x"></i>
                    </div>
                    <h3>100</h3>
                    <p>Patients recovered</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card m-1 lgreen ">
                    <div class="icon p-2">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <h3>5</h3>
                    <p>DOCTORS</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card m-1 lgreen">
                    <div class="icon p-2">
                        <i class="fa fa-ambulance fa-3x "></i>
                    </div>
                    <h3>15</h3>
                    <p>AMBULANCE</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HOSPITAL PARTNERS   -->
<div class="hospital partners">
    <div class="container-fluid">
        <div class="row text-center p-5">
            <h1><b>HOSPITAL PARTNERS</b></h1>

            <!-- CARDS OF HOSPITALS   -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="card-img">
                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                            style="width:100%">
                        <div class="card-body m-2 dgreen">
                            <p>HERE WEE WRITE ABOUT THE HOSPITAL </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="card-img">
                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                            style="width:100%">
                        <div class="card-body m-2 dgreen">
                            <p>HERE WEE WRITE ABOUT THE HOSPITAL </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="card-img">
                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                            style="width:100%">
                        <div class="card-body m-2 dgreen">
                            <p>HERE WEE WRITE ABOUT THE HOSPITAL </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="card-img">
                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                            style="width:100%">
                        <div class="card-body m-2 dgreen">
                            <p>HERE WEE WRITE ABOUT THE HOSPITAL </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="card-img">
                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                            style="width:100%">
                        <div class="card-body m-2 dgreen">
                            <p>HERE WEE WRITE ABOUT THE HOSPITAL </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="card-img">
                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                            style="width:100%">
                        <div class="card-body m-2 dgreen">
                            <p>HERE WEE WRITE ABOUT THE HOSPITAL </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row text-center">
                <div class="btn">
                    <button class="btn-view">VIEW ALL </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TESTIMONIALS   -->
<div class="testimonials"> 
    <div class="container-fluid">
        <div class="row text-center white p-5">
            <h1><b>TESTIMONIALS</b></h1>

            <div class="testimonials-body">
                <div class="container">
                    <h3>WHAT OUR PATIENTS HAS TO SAY ABOUT US</h3>
                    <br>
                    <p>
                        I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all
                        because of you, and I wish you all the best for your future. May you grow day and night.
                        I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all
                        because of you, and I wish you all the best for your future. May you grow day and night.
                        I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all
                        because of you, and I wish you all the best for your future. May you grow day and night.
                        I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all
                        because of you, and I wish you all the best for your future. May you grow day and night.
                    </p>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-1" style="background: none;">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                                            style="width:150px; height:100px;" class="testimonial-img">
                                    </div>
                                    <div class="col-sm-7 mt-3">
                                        <h5><b>SAMI WADE</b></h5>
                                        <h5>addee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-1" style="background: none;">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                                            style="width:150px; height:100px;" class="testimonial-img">
                                    </div>
                                    <div class="col-sm-7 mt-3">
                                        <h5><b>SAMI WADE</b></h5>
                                        <h5>addee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-1" style="background: none;">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                                            style="width:150px; height:100px;" class="testimonial-img">
                                    </div>
                                    <div class="col-sm-7 mt-3">
                                        <h5><b>SAMI WADE</b></h5>
                                        <h5>addee</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<!-- EMERGENCY SERVICES BANNER   -->
<div class="emergency-services">
    <div class="container-fluid">
        <div class="row m-5">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="https://camebi-media.s3.amazonaws.com/f49c1f6d-071d-46e2-87cf-d4d8d99bb0ac/blogs/91cd4d5a-b92d-4a0d-8c87-906740c569e6/CAMEBI-6-blogs.jpg"
                    alt="doctor_img" width="100%" height="100%">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h3><b>24 HOURS EMERGENCY SERVICES</b></h3>

                <br>

                <p>
                    I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all because
                    of you, and I wish you all the best for your future. May you grow day and night. I am very grateful
                    to Team CAMEBI for their support, as it was not easy. I am healthy, all because of you, and I wish
                    you all the best for your futu
                    <br><br>
                    I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all because
                    of you, and I wish you all the best for your future. May you grow day and night. I am very grateful
                    to Team CAMEBI for their support, as it was not easy. I am healthy, all because of you, and I wish
                    you all the best for your futu
                    <br><br>
                    I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all because
                    of you, and I wish you all the best for your future. May you grow day and night. I am very grateful
                    to Team CAMEBI for their support, as it was not easy. I am healthy, all because of you, and I wish
                    you all the best for your futu
                </p>
                <div class="btn-area ">

                    <button class="normalbtn">something here</button>
                    <button class="redbtn"> something here</button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- SUBSCRIBE TO NEWS CHANNELS   -->
<div class="news dgreen">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="bodytext p-5">
                <h2 style="line-height:1">SUBSCRIBE TO OUR NEWS AND UPDATES</h2>
                <p style="line-height:1">_____________ ___</p>
                <p>WE WILL SEND YOU EMAILS</p>
                <div class="icon-mail ">
                    <div class="input-group">
                        <input type="text" style="width: 50%; border-radius: 20px 0px 0px 20px;" placeholder="Recipient's username" aria-label="Recipient's username">
                        <!-- <span class="input-group-text" id="basic-addon2">@example.com</span> -->
                        <i class="fa fa-paper-plane fa-2x send-mail"></i>
                      </div>
                      
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER REGION   -->
<div class="footer test">
    <div class="container-fluid">
        <div class="row text-center m-5">
            <div class="col-12">
                <h1><b>CAMEBI</b></h1>
                <button class="dgreen p-2">CLICK HERE FOR ANY WORK</button>
                <p>
                    ur future. May you grow day and night. I am very grateful to Team CAMEBI for their support, as it
                    was not easy. I am healthy, all because of you, and I wish you all the best for your futu

                    I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all because
                    of you, and I wish you all the best for your future. May you grow day and night.
                    ur future. May you grow day and night. I am very grateful to Team CAMEBI for their support, as it
                    was not easy. I am healthy, all because of you, and I wish you all the best for your futu

                    I am very grateful to Team CAMEBI for their support, as it was not easy. I am healthy, all because
                    of you, and I wish you all the best for your future. May you grow day and night.
                </p>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;min-height: 150px">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <i class="fa fa-map fa-3x" style="margin-top: 50px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">OFFICE ADDRESS</h5>
                                        <p class="card-text">ADDRESS OF OFFICE HERE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px; min-height: 150px">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <i class="fa fa-phone fa-3x" style="margin-top: 50px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">CONTACT US</h5>
                                        <p class="card-text">THIS IS OUR NUMBER CONTACT US +9127393938237</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;min-height: 150px">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <i class="fa fa-envelope fa-3x" style="margin-top: 50px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">MAIL US</h5>
                                        <p class="card-text">THIS IS OUR MAIL LINK</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p>FF3OG2IO4HG4[2HGU0[GH4UGH42U[IG[4UG4BU</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="social-media dgreen icons">
            <div class="row text-center p-1">
                <div class="col-12">
                    Follow Us:
                    <i class="fa fa-facebook p-3"></i>
                    <i class="fa fa-instagram p-3"></i>
                    <i class="fa fa-linkedin p-3"></i>
                    <i class="fa fa-twitter p-3"></i>
                    <div class="vr"></div>
                     &copy; 2021, Camebi.com. All rights reserved. 
                      
                </div>
            </div>
        </div>
    </div>
</div>